
/* ===============Imported Fonts================ */
/* --------Primary Fonts--------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* --------Heading Fonts--------- */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


/* ===============Common Styles================ */
body{
    font-family: 'Poppins', sans-serif;  
    list-style: none;
    text-decoration: none;
}

.legalSol-heading-font{
    font-family: 'EB Garamond', serif;
}


.legalSol-bg-dark-1{
    background-color:#111111;
}
.legalSol-dark-2{
    color:#414040;
}
.legalSol-dark-3{
    color:#707070;
}
.legalSol-dark-5{
    color:#CFCFCF;
}

.legalSol-dark-6{
    color:#E7E7E7;
}
.legalSol-dark-7{
    color:#F3F3F3;
}



.legalSol-btn-bg{
    background-color:#B68C5A;
    color: #fff;
    font-weight: 500;
    transition: all .3s ease;
}

.legalSol-card-bg{
    background: linear-gradient(#F3F3F3, #bdc3ff28, #bdc2ff0a);
    
}



.legalSol-card-bg-hover{
    background:#fff ;
    transition: all .3s ease;
    
}


.legalSol-card-bg-hover:hover{
    background: linear-gradient(#F3F3F3, #bdc3ff28, #bdc2ff0a);
    
}

.legalSol-btn-bg:hover{
    color:#B68C5A;
    background-color: #fff;
    border-color: #B68C5A;
    
}



/* ===============Ned Styles================ */
.deader-banner{
       background-image: url(../images/banner.png), linear-gradient(#00000056,#00000023);
       background-blend-mode: multiply;
       background-size: cover;
       background-repeat: no-repeat;
       border-radius: 10px;
}


